@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.card {
  @apply mb-5  flex flex-col  rounded-lg border border-gray-200  shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400  active:bg-amber-500;
}
.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 pl-5 hover:bg-gray-200;
}

.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}

.danger-button {
  @apply rounded bg-red-500 py-2  px-4 text-white shadow outline-none hover:bg-red-200  active:bg-red-300;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
.carousel-slider {
  z-index: -2!important;
}

.control-arrow {
  height: 60px;
}

.padding {
  padding: 7px;
}

.review {
  border: 1px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0);
}
